os:
  - linux

language: python

cache: pip

addons:
  firefox: latest

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install -r requirements.txt
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.26.0/geckodriver-v0.26.0-linux64.tar.gz
  - tar -xzf geckodriver-v0.26.0-linux64.tar.gz
  - export PATH=$PATH:$PWD/geckodriver

script:
  - python3 Main.py