os:
  - linux

language: python

cache: pip

addons:
  firefox: latest
  apt:
    packages:
      - firefox-geckodriver

python:
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip3 install -r requirements.txt
  - mv config.sample config.ini
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.26.0/geckodriver-v0.26.0-linux64.tar.gz
  - tar -xzf geckodriver-v0.26.0-linux64.tar.gz
  - sudo mv geckodriver /usr/local/bin
  - 'export DISPLAY=:99.0'
  - Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
  - sleep 3
script:
  - python3 Main.py