; Sample Configuration File
; Also used as the config for CI tests

[STAGES]
students = True
teachers = True
classrooms = True

[BROWSER]
browser_headless = True
scrape_url = https://ogrestehnikums.edupage.org/timetable/
close_after = True

[SCRAPER]
new_viewer = True
list_name = Saraksti
student_name = Studenti
teacher_name = Skolotaji
room_name = Telpas

[DATABASE]
used = False
ip = 127.0.0.1
port = 27017
database = CI-Database
user = user
password = pass
table_collection_prefix = Tabulas_

[FILE]
used = True
path = ./Export/
suffix = _data.json

